<input
  [(ngModel)]="password"
  type="password"
  (input)="checkPasswordStrength()"
/>
<!-- <p>{{ password }}</p> -->
<section class="main-section">
  <div
    class="color-section"
    [ngClass]="{
      short: passwordStrength === 'short',
      weak: passwordStrength === 'weak',
      medium: passwordStrength === 'medium',
      strong: passwordStrength === 'strong'
    }"
  ></div>
  <div
    class="color-section"
    [ngClass]="{
      short: passwordStrength === 'short',
      medium: passwordStrength === 'medium',
      strong: passwordStrength === 'strong'
    }"
  ></div>
  <div
    class="color-section"
    [ngClass]="{
      short: passwordStrength === 'short',
      strong: passwordStrength === 'strong'
    }"
  ></div>
</section>
